@model CRM_HELIANTIS.Areas.Materiel.Models.MaterielView
<h2>
    @if (ViewBag.type == "editer")
    { 
        <text>Edition</text>
    }
    else
    {<text>Création</text> }
    d'une fiche Matériel</h2>
<div id="formulaire">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
          <div>
                <label>
                    Nom</label>@Html.EditorFor(model => model.nom)
                @Html.ValidationMessageFor(model => model.nom)
            </div>
           
        <div class="bouton">
            
            <span id="fermer">Fermer</span>
            <span id="validate">Enregistrer</span>
        </div>

    }
</div>
<script type="text/javascript">
    $('span','.bouton').button();
   $("#nom").addClass('validate[required]');
    $("#formulaire > form").validationEngine({promptPosition : "topLeft", scroll: false, validationEventTrigger:""});

    $("#validate").click(function (event) {
      if  ($("#formulaire > form").validationEngine('validate')){
   @if (ViewBag.type == "editer")
   { 
            <text>editer(</text>@Model.id<text>);</text>;
   }
   else
   {
        <text>
          editer();
          </text>
   }
      }
    });

    $("#fermer").click(function () {
        fermerPopup();
    });

</script>
